.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color:rgb(255, 236, 209);
    }
    100% {
      background-color: rgb(214, 234, 255);
    }
}