.container{
    width: 100%;
}
.profileCard{
    display: flex;
    flex: 3;
    margin-top: 20px;
    gap: 20px;
}

.orderCard{
    display: flex;
    margin: 10px;
    gap: 10px;

}
.profilePic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
}
.ppp{
    border-radius: 10px;
}
.profileInfo{
    display: flex;
    flex-direction: column;
}
.name{
    display: flex;
    gap: 10px;
    line-height: normal;
    font-size: xx-large;
    font-weight: 600;
    cursor: pointer;
}

.editico{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.name:hover .editico{
    color: rgb(19, 161, 0);
}

.editicoMob{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.editicoMob:hover{
    color: rgb(19, 161, 0);
}

.productName{
    display: flex;
    gap: 10px;
    line-height: normal;
    font-size:medium;
    font-weight: 600;
}
.phoneno{
    display: flex;
    gap: 10px;
    line-height: normal;
    color: rgb(0, 173, 14);
    font-size:larger;
    font-weight: 400;
}
.eventDate{
    display: flex;
    gap: 10px;
    line-height: normal;
    color: rgb(104, 104, 104);
    font-size:medium;
    font-weight: 400;
    align-items: center;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.editicoEv{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.eventDate:hover .editicoEv{
    color: rgb(19, 161, 0);
}

.basicDetails{
    width: 99%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0px 0px 2px #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.basicAlert{
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0px 0px 2px #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.orderDetail{
    box-shadow: inset 0px 0px 2px #d4d4d4;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    flex: 1;
}
.orderGroup{
    margin-bottom: 10px;
}

.subTitle{
    margin-top: 20px;
    font-size: small;
    font-weight: 600;

}

.orderSubTitle{
    margin-top: 5px;
    margin-bottom: 8px;
    font-size:medium;
    font-weight: 600;
    text-align: center;

}
.basicItem{
    display: flex;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.icon{
    font-size: 30px;
    color: rgb(6, 172, 0);
}
.partInfo{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    cursor: pointer;
}
.editico1{
    color: rgb(255, 255, 255);
}
.partInfo:hover .editico1{
    color: rgb(19, 161, 0);
}
.partTitle{
    display: flex;
    gap: 5px;
    line-height: normal;
    font-size: x-small;
    font-weight: 600;
}
.partValue{
    line-height: normal;
    font-size:medium;
    font-weight: 600;
    color: #000000;
}


.otherDetails{
    width: 100%;
    margin-top: 25px;
    display: flex;
    gap: 20px;
}
.twoDivider{
    width: 50%;
    
}
.infoGroup{
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    box-shadow: inset 0px 0px 2px #d4d4d4;
    flex-direction: column;
}
.groupTitle{
    position: relative;
    margin: 10px 20px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 40px;
    text-align: center;
    background-color: rgb(255, 145, 0);
    clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
}
.groupTable{
    width: 100%;
}
.avatar{
    border-radius: 5px;
}

.orderRec{
    width: 99%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.orderTable{
    width: 100%;
}
.orderTable th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #d4d4d4 1px solid;
}

.orderTable td{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #d4d4d4 1px solid;
}
.orderButtonGroup{
    display: flex;
    margin-top: 10px;
}
.receiptData{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.receiptDelbutton{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .profileCard {
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: start;
    }
    .basicItem{
        width: 50%;
    }
    .twoDivider{
        width: 100%;
    }
    .otherDetails{
        flex-direction: column;
    }
    .infoGroup{
        margin: 0;
        margin-bottom: 30px;
    }
    .orderRec{
        flex-direction: column;
    }
}
