.container {
    background-color: var(--bgSoft);
    border-radius: 10px;
    margin-top: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .top {
        flex-direction: column;
        width: 100%;
        justify-content: start;
        align-items: flex-start;
        gap: 10px;
    }
}
