.container{
    position: sticky;
    padding-top: 40px;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}
.user{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}
.user img{
    border-radius: 15px;
}
.userDetails{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.userName{
    font-size: 22px;
    font-weight: 600;
}
.userTitle{
    color: rgb(0, 148, 7);
    font-weight: 300;
    font-size: 16px;
}
.menu{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container{
        height: auto;
        padding-top: 0px;
    }
    .user{
        display: none;
    }
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
}