.container{
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 0px;
    color: rgb(34, 34, 34);
    text-decoration: none;
}

.container:hover, .container:focus{
    background-color: rgb(187, 218, 189);
    border-radius: 0px 30px 30px 0px;
    color: rgb(0, 148, 7);
    text-decoration: none;
}
.active{
    background-color: rgb(187, 218, 189);
    border-radius: 0px 30px 30px 0px;
    color: rgb(0, 148, 7);
    font-weight:600;
}
.icon{
    font-size: larger;
}
.active::before{
    content: "";
    background-color: rgb(0, 148, 7);
    width: 8px;
    height: 50px;
    position: absolute;
    margin-left: -32px;
    
}
.text{
    font-size:medium;
}

@media (max-width: 768px) {
    .container{
        border-radius: 0px;
        flex-direction: column;
        gap: 2px;
        padding: 7px;
        margin: 3px;
    }
    .container:hover{
        border-radius: 10px 10px 0px 0px;
    }
    .active{
        background-color: rgb(201, 255, 204);
        border-radius: 10px 10px 0px 0px;
        color: rgb(0, 148, 7);
    }
    .text{
        font-size:xx-small;
    }
    .active::before{
        content: "";
        background-color: rgb(0, 148, 7);
        width: 40px;
        height: 5px;
        position: absolute;
        margin-top: 36px;
        margin-left: 0px;
        border-radius: 5px 5px 0px 0px;
    }
}