.details{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.title{
    margin-top: 40px;
    font-weight: 600;
    color: rgb(255, 145, 0);
}
.title1{
    font-weight: 600;
    color: rgb(255, 145, 0);
}
.button{
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}
.top{
    align-items: flex-end;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}