.singleUser {
    position: relative;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    color: #272727;
    flex: 3;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.singleUser:hover {
    text-decoration: none;
}
.userCard {
    display: flex;
    align-items: center;
    flex: 3;
    cursor: pointer;
}
.icon {
    font-size: larger;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height:normal;
    justify-content:center;
}

.name {
    font-weight: 600;
    line-height:unset;
}
.trid {
    font-size: smaller;
    line-height:unset;
}
.leadId{
    margin-top: 1px;
    color: rgb(6, 170, 0);
    font-size:x-small
}
.gender {
    font-size: smaller;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 3px;
    flex: 3;
}
.lotTitle{
    font-size: 12px;
    font-weight: 300;
}

.lotDate{
    white-space:nowrap;
    font-size: 12px;
    font-weight: 600;
}

.phoneNumber {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size:small;
}
.cardNumber {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size:small;
}

.plan {
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex: 1;
}

.remarkContainer{
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex: 1;
}
.eventDate{
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex: 1;
    cursor: pointer;
}
.planbtn {
    font-size: smaller;
}
.remcount {
    font-size: smaller;
}
.churchDp {
    border-radius: 20px;
}
.churchInfo {
    display: flex;
}
.details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.churchName {
    font-size: smaller;
    font-weight: 600;
}
.churchid {
    font-size: smaller;
}

.group1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.group3 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.group2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.table {
    width: 100%;
}

.search{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #f3f3f3;
    border: #dadada 0.5px solid;
    padding: 8px;
    border-radius: 10px;
    width: max-content;
  }
  .input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }
  .monthBox{
    scroll-snap-align: start;
    width: 99%;
    margin-bottom: 25px;
    border: #576ac9 1px solid;
    /* border-radius: 7px; */
    background-color: aliceblue;
  }
  .monthTitle{
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* border-radius: 5px 5px 0px 0px; */
    top: 0;
    background-color: #576ac9;
    border: #576ac9 1px solid;
    padding: 5px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: small;
  }


  .remarkText{
    padding: 5px;
    font-size: x-small;
  }
.buttonGroup{
    display: flex;
    gap: 10px;
}
.updatedInfo{
    position: absolute;
    top: -5px;
    padding: 1px 5px;
    right: 0;
    z-index: 5;
    font-size: xx-small;
    background-color: #e4e9ff;
    color: #778eff;
}

.leadImage{
    width: 40px;
}
.groupMobileOnly{
    display: none;
}
.remarkTextMobile{
    text-align: center;
}
.callWhatsapp{
    display: flex;
    width: 100%;
    color: #576ac9;
    font-weight: bold;
    padding: 15px;
    border-bottom: #d8d8d8 1px solid;
    cursor: pointer;
    font-size: small;
}
@media (max-width: 768px) {
    .groupMobileOnly{
        margin-top: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        border-top: 1px solid #AAA;
        font-size: x-small;
        align-items: center;
        justify-content: center;
    }
    .updatedInfo{
        top: 0;
        padding-top: 3px;
    }

    .singleUser {
        margin: 12px 7px;
        background-color: #fff;
        border-radius: 5px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
        padding: 5px 10px;
        padding-top: 20px;
        gap: 0px;
        box-shadow: 0px 0px 4px 0px #576ac9;
        overflow: hidden;
    }
    .userCard {
        width: 100%;
    }
    .group1 {
        width: 100%;
        justify-content: space-between;
        align-items:center;
        border-bottom: 1px solid #a7a7a7;
        padding-bottom: 5px;
    }

    .group3 {
        width: 100%;
        justify-content: space-between;
        align-items:center;
    }

    .plan {
        margin-top: 8px;
        margin-bottom: 3px;
    }

    .group2 {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 5px;
    }
    .searchContainer{
        width: 100%;
    }
    .remarkContainer{
        display: none;
    }
}
