.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #e1e1e1;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }

  @media (max-width: 768px) {
    .container{
        width: 100%;
    }
}