.skeleton {
    border-radius: 0.25rem;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
      background-color: hsl(106, 19%, 83%);
    }
    100% {
      background-color: hsl(108, 20%, 95%);
    }
}