.singleUser {
    border-bottom: 1px solid #dbdbdb;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    color: #272727;
    gap: 10px;
    
}
.singleUser:hover {
    text-decoration: none;
}
.singleUserDetails{
    display: flex;
    flex: 4;
    justify-content: space-between;
    align-items: center;
}
.singleUserDetails:hover {
    text-decoration: none;
}
.remarkss{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 3px 7px;
    font-size: x-small;
    border: 1px solid rgb(255, 222, 131);
    background-color: rgb(255, 248, 236);
    align-items: center;
}
.userCard {
    display: flex;
    align-items: center;
    flex: 2;
}
.icon {
    font-size: larger;
}
.icon1 {
    font-size:x-small;
}
.userInfo {

    display: flex;
    margin-left: 10px;
    flex-direction: column;
    line-height:normal;
    justify-content:center;
}

.name {
    font-weight: 600;
    line-height:unset;
}
.trid {
    font-size: smaller;
    line-height:unset;
}
.leadId{
    display: flex;
    gap: 3px;
    margin-top: 1px;
    color: rgb(6, 170, 0);
    font-size:small
}
.gender {
    font-size: smaller;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 3px;
    flex: 2;
}
.lotTitle{
    font-size: 10px;
    font-weight: 300;
}
.lotTitle1{
    margin-top: 4px;
    font-size: 8px;
    font-weight: 300;
}

.lotDate{
    font-size: 12px;
    font-weight: 600;
}
.lotDate1{
    font-size: 9px;
    font-weight: 600;
}
.phoneNumber {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: smaller;
}
.cardNumber {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: smaller;
}

.plan {
    display: flex;
    flex-direction: column;
    line-height: normal;
    flex: 1;
}
.planbtn {
    font-size: smaller;
}
.remcount {
    font-size: smaller;
}
.churchDp {
    border-radius: 20px;
}
.churchInfo {
    display: flex;
}
.details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.churchName {
    font-size: smaller;
    font-weight: 600;
}
.churchid {
    font-size: smaller;
}

.group1 {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.group2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.group3 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
}

.search{
    display: flex;
    justify-content: flex-end;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #e1e1e1;
    padding: 8px;
    border-radius: 10px;
    width: max-content;
  }
  
  .input {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }

  .monthBox{
    scroll-snap-align: start;
    width: 99%;
    margin-bottom: 25px;
    border: #348650 1px solid;
    /* border-radius: 7px; */
    background-color: aliceblue;
  }
  .monthTitle{
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* border-radius: 5px 5px 0px 0px; */
    top: 0;
    background-color: #348650;
    border: #348650 1px solid;
    padding: 5px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: small;
  }


  .remarkText{
    padding: 5px;
    font-size: x-small;
  }

  .listOrderTable{
    font-size: x-small;
    width: 200px;
  }
  .listOrderTable th{
    padding: 2px;
    font-size: xx-small;
    border: #a7a7a7 1px solid;
  }
  .listOrderTable td{
    padding: 2px;
    border: #a7a7a7 1px solid;
  }
  .orders{
    font-size: small;
  }

@media (max-width: 768px) {

    .singleUser {
        margin: 12px 7px;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        border-bottom: none;
        box-shadow: 0px 0px 4px 0px #576ac9;
    }

    .singleUserDetails {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
        gap: 0px;
    }
    .userCard {
        width: 100%;
    }
    .group1 {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #a7a7a7;
        padding-bottom: 5px;
    }
    .plan {
        margin-top: 8px;
        margin-bottom: 3px;
    }
    .group2 {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 5px;
        border-bottom: 1px solid #a7a7a7;
        padding-bottom: 5px;
    }
    .group3 {
        width: 100%;
        justify-content: space-between;
        align-items:center;
    }
    .searchContainer{
        width: 100%;
    }
}
