.selectBtn{
    width: 200px;
}
.siteTitle{
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 8px;
}
.topInfo{
    width: 100%;
    display: flex;
    gap: 2%;
    flex: 3;
    
}
.infoBox{
    flex: 1;
    background-color: rgb(255, 227, 190);
    padding: 15px;
    border-radius: 15px;
}
.infoTopTitle{
    display: flex;
    justify-content: space-between;
}
.infoTitle{
    font-size: small;
    font-weight: 600;
}
.infoPercent span{
    font-size: small;
    font-weight: 600;
    display: flex;
}
.infoAmount{
    font-size:xx-large;
    font-weight: 600;
    color: rgb(255, 145, 0);
}
.infoPre{
    font-size:small;
    margin-top: 5px;
    font-weight: 300;
}
.numberBox{
    display: flex;
    justify-content: space-between;
    
}
.allTotal{
    font-size: xx-large;
    font-weight: 600;
    color: rgb(255, 145, 0);
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.allTotal span{
    font-size:small;
    line-height: 1;
    font-weight: 600;
    color: rgb(24, 24, 24);
}
.allUsers{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.allActive{
    font-size:large;
    font-weight: 600;
    color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
}
.allActive span{
    font-size:small;
    font-weight: 400;
    color: rgb(24, 24, 24);
}
.desktopChart{
    display: block;
}
.mobileChart{
    display: none;
}
.twoDiv{
    display: flex;
    flex: 3;
    gap: 20px;
}
.leftWarp{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.paymentsSection{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 245, 233);
    padding: 0px;
    border-radius: 15px;
    border: inset 1px solid #ffdf8f;
    margin-top: 40px;
    display: block;
}


.mobilepaymentsSection{
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color:rgb(255, 245, 233);
    padding: 0px;
    border-radius: 15px;
    border: inset 1px solid #ffdf8f;
    margin-top: 40px;
    display: none;
}
.PaymentTitle{
    font-size: x-large;
    font-weight: 600;
    background-color: rgb(255, 145, 0);
    border-radius: 15px 15px 0px 0px;
    padding: 7px;
    color: #FFF;
    align-items: center;
    display: flex;
    justify-content: center;
}
.rightWarp{
    display: flex;
    flex: 1;
}
.detailsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.paymentsTable{
    width: 100%;
}
.paymentsTable td{
   padding: 10px;
   border-top: 1px solid #b4b4b4;
}

.payUser{
    display: flex;
    align-items: center;
}
.payMale{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-radius: 25px;
    background-color: rgb(0, 174, 255);
    color: aliceblue;
}
.payFemale{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border-radius: 25px;
    background-color: rgb(255, 99, 234);
    color: rgb(255, 240, 252);
}
.payUserDetail{
    display: flex;
    flex-direction: column;
    font-size:small;
    margin-left: 10px;
}
.payUserDetail span{
    font-size:x-small;
    font-weight: 600;
}

.agoText{
    font-size:small;
    font-weight: 300;
}
.payIdDate{
    display: flex;
    flex-direction: column;
}
.payIdDate span{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: small;
    font-weight: 400;
    align-items: center;
}
.payIdDate .payid{
    font-weight: 200;
}
.payAmount{
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.payAmount span{
    font-size:xx-small;
    color: rgb(196, 0, 0);
}
.renew{
    font-size: x-small;
    background-color:rgb(255, 145, 0);
    padding: 4px 12px;
    border-radius: 10px;
    color: #ffffff;
}
.planSection{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 245, 233);
    padding: 0px;
    border-radius: 15px;
    border: inset 1px solid #ffdf8f;
    margin-top: 40px;
    display: block;
    overflow: hidden;
}
.planName{
    display: flex;
    width: 400px;
}
.planNameWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
    
}
.planText{
    font-size: large;
    font-weight: 600;
}
.planTextAmt{
    font-size:smaller;
    font-weight: 300;
}

.profileCard{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:#ffdf8f;
    padding: 0px;
    border-radius: 15px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.pentagon {
	position: relative;
	width: 157.5px;
	height: 150px;
	background: #e1b941;
    clip-path: polygon(88% 91%, 98% 52%, 99% 46%, 100% 38%, 99% 34%, 97% 31%, 63% 4%, 57% 1%, 50% 0%, 43% 1%, 38% 3%, 6% 29%, 2% 33%, 0% 38%, 1% 44%, 3% 51%, 13% 88%, 15% 94%, 18% 98%, 22% 99%, 24% 100%, 74% 100%, 80% 100%, 84% 98%, 87% 94%);
	/* clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%); */
}

.churchDetails{
    width: 100%;
    margin-top: 40px;
}
.churchDetails td{
   padding: 10px;
   font-size: small;
   border-top: 1px solid #ffb700;
}

.lastLogin{
    width: 100%;
    margin-top: 5px;
}
.lastLogin td{
   padding: 10px;
   font-size: small;
   border-top: 1px solid #ffb700;
}
.progBar{
    display: block;
}

@media (max-width: 768px) {
    .topInfo {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    /* .chart{
        height: 100px;
    } */
    .desktopChart{
        display: none;
    }
    .mobileChart{
        display: block;
        width: 100%;
    }
    .twoDiv{
        flex-direction: column;
    }
    .paymentsSection{
        display: none;
    }
    .mobilepaymentsSection{
        display: block;
    }
    .payMale{
        width: 40px;
        height: 40px;
        font-size: large;
       
    }
    .payFemale{
        width: 40px;
        height: 40px;
        font-size: large;
        
    }
    .payUserDetail{
        font-size:medium;
        margin-left: 5px;
    }
    .payUserDetail span{
        font-size:smaller;
        font-weight: 600;
    }
    .progBar{
        display: none;
    }
    .planName{
        display: flex;
        width: 100px;
    }
}